In [15]:
# save csv as data frame 

import pandas as pd

df = pd.read_csv('./data/raw/ACSDP5Y2019.DP05-Data.csv')
df.head(10)

/var/folders/ht/q4d_vppn3x5d3_p7bs499mdh0000gn/T/ipykernel_19227/2361676303.py:5: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,114,115,116,117,118,119,120,121,122,123,124,125,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,361,454,455,470,473,486,487,606,607,634,637,702,703) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/raw/ACSDP5Y2019.DP05-Data.csv')

,GEO_ID,NAME,DP05_0001E,DP05_0001M,DP05_0001MA,DP05_0001EA,DP05_0002E,DP05_0002EA,DP05_0002M,DP05_0002MA,...,DP05_0087PMA,DP05_0088PE,DP05_0088PM,DP05_0088PMA,DP05_0088PEA,DP05_0089PE,DP05_0089PEA,DP05_0089PM,DP05_0089PMA,Unnamed: 714
0,Geography,Geographic Area Name,Estimate!!SEX AND AGE!!Total population,Margin of Error!!SEX AND AGE!!Total population,Annotation of Margin of Error!!SEX AND AGE!!To...,Annotation of Estimate!!SEX AND AGE!!Total pop...,Estimate!!SEX AND AGE!!Total population!!Male,Annotation of Estimate!!SEX AND AGE!!Total pop...,Margin of Error!!SEX AND AGE!!Total population...,Annotation of Margin of Error!!SEX AND AGE!!To...,...,Annotation of Percent Margin of Error!!CITIZEN...,"Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...",Annotation of Percent Margin of Error!!CITIZEN...,"Annotation of Percent!!CITIZEN, VOTING AGE POP...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Annotation of Percent!!CITIZEN, VOTING AGE POP...","Percent Margin of Error!!CITIZEN, VOTING AGE P...",Annotation of Percent Margin of Error!!CITIZEN...,NaN
1,1400000US36047007100,"Census Tract 71, Kings County, New York",5050,443,NaN,NaN,2156,NaN,306,NaN,...,(X),41.4,5.6,NaN,NaN,58.6,NaN,5.6,NaN,NaN
2,1400000US36047007500,"Census Tract 75, Kings County, New York",4969,450,NaN,NaN,2275,NaN,238,NaN,...,(X),42.3,5.0,NaN,NaN,57.7,NaN,5.0,NaN,NaN
3,1400000US36047007700,"Census Tract 77, Kings County, New York",5159,562,NaN,NaN,2451,NaN,300,NaN,...,(X),45.3,6.0,NaN,NaN,54.7,NaN,6.0,NaN,NaN
4,1400000US36047011700,"Census Tract 117, Kings County, New York",2677,337,NaN,NaN,1367,NaN,209,NaN,...,(X),53.5,6.0,NaN,NaN,46.5,NaN,6.0,NaN,NaN
5,1400000US36047012100,"Census Tract 121, Kings County, New York",1962,164,NaN,NaN,972,NaN,107,NaN,...,(X),47.1,4.6,NaN,NaN,52.9,NaN,4.6,NaN,NaN
6,1400000US36047013700,"Census Tract 137, Kings County, New York",3554,263,NaN,NaN,1710,NaN,221,NaN,...,(X),46.5,4.8,NaN,NaN,53.5,NaN,4.8,NaN,NaN
7,1400000US36047013900,"Census Tract 139, Kings County, New York",3650,309,NaN,NaN,1778,NaN,251,NaN,...,(X),46.9,4.3,NaN,NaN,53.1,NaN,4.3,NaN,NaN
8,1400000US36047014300,"Census Tract 143, Kings County, New York",3672,350,NaN,NaN,1653,NaN,191,NaN,...,(X),44.4,3.8,NaN,NaN,55.6,NaN,3.8,NaN,NaN
9,1400000US36047014500,"Census Tract 145, Kings County, New York",3815,350,NaN,NaN,1950,NaN,229,NaN,...,(X),48.2,4.7,NaN,NaN,51.8,NaN,4.7,NaN,NaN

In [16]:
df.columns

Index(['GEO_ID', 'NAME', 'DP05_0001E', 'DP05_0001M', 'DP05_0001MA',
       'DP05_0001EA', 'DP05_0002E', 'DP05_0002EA', 'DP05_0002M', 'DP05_0002MA',
       ...
       'DP05_0087PMA', 'DP05_0088PE', 'DP05_0088PM', 'DP05_0088PMA',
       'DP05_0088PEA', 'DP05_0089PE', 'DP05_0089PEA', 'DP05_0089PM',
       'DP05_0089PMA', 'Unnamed: 714'],
      dtype='object', length=715)

In [17]:
df.dtypes

GEO_ID           object
NAME             object
DP05_0001E       object
DP05_0001M       object
DP05_0001MA      object
                 ...
DP05_0089PE      object
DP05_0089PEA     object
DP05_0089PM      object
DP05_0089PMA     object
Unnamed: 714    float64
Length: 715, dtype: object