In [1]:
#Loading packages 

import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#df = pd.read_csv('data.csv')

zhome_values_zip_df = pd.read_csv('zhome_value_zip_df.csv')

zhome_values_zip_df = pd.DataFrame(zhome_values_zip_df)

#print(zillow_home_values_data)

In [3]:
zhome_values_zip_df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31
0,91940,0,77449,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Harris County,107184.0,...,257089.0,261757.0,267452.0,273750.0,279865.0,284916.0,288326.0,290250.0,290894.0,291871.0
1,91982,1,77494,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,223094.0,...,444749.0,454220.0,465824.0,479498.0,490869.0,498347.0,500609.0,498747.0,499289.0,501368.0
2,93144,2,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,90164.0,...,175658.0,177626.0,179773.0,183128.0,186726.0,190164.0,192396.0,194095.0,195477.0,197127.0
3,62080,3,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,186206.0,...,564682.0,564481.0,566396.0,567898.0,570676.0,572891.0,574998.0,575933.0,578691.0,582277.0
4,62093,4,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,275596.0,...,747687.0,750970.0,756670.0,759268.0,765087.0,770360.0,775517.0,778187.0,781268.0,787104.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27419,65172,30657,17762,zip,PA,PA,Hughesville,"Williamsport, PA",Lycoming County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147664.0,151285.0
27420,80190,30657,50160,zip,IA,IA,Martensdale,"Des Moines-West Des Moines, IA",Warren County,NaN,...,175734.0,179142.0,180164.0,181149.0,182351.0,184956.0,186832.0,188379.0,190213.0,191794.0
27421,65355,30657,18081,zip,PA,PA,Hellertown,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",Bucks County,NaN,...,354365.0,356878.0,362437.0,368824.0,372757.0,373071.0,372062.0,370075.0,369514.0,370807.0
27422,80581,30657,51009,zip,IA,IA,Calumet,NaN,O Brien County,NaN,...,71091.0,72012.0,72555.0,72780.0,72984.0,73967.0,74786.0,75141.0,74819.0,75065.0
27423,75083,30657,38946,zip,MS,MS,Morgan City,"Greenwood, MS",Leflore County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54604.0,54909.0,55025.0

In [ ]:
zhome_values_zip_df.columns

In [4]:
# df = df.drop(df.columns[[0, 1, 3]], axis=1)

#dropping columns from data frame we dont need 8 = jan 2000. 31 = dec 2002. 0 = Regiontype. 4=statename. 6= metro. 

zhome_values_zip_df = zhome_values_zip_df.drop(zhome_values_zip_df.columns[9:33], axis=1)
zhome_values_zip_df = zhome_values_zip_df.drop(zhome_values_zip_df.columns[[0,1,3,4,7,]], axis=1)

In [5]:
#df after columns have been dropped

zhome_values_zip_df.columns

Index(['RegionName', 'State', 'City', 'CountyName', '2002-01-31', '2002-02-28',
       '2002-03-31', '2002-04-30', '2002-05-31', '2002-06-30',
       ...
       '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31',
       '2022-06-30', '2022-07-31', '2022-08-31', '2022-09-30', '2022-10-31'],
      dtype='object', length=254)

In [ ]:
zhome_values_zip_df

In [ ]:
zhome_values_zip_df.State.dtype

In [6]:
# creating new dataframe with the name of the columns replaced

#df2 = df.rename({'a': 'X', 'b': 'Y'}, axis=1)

z_hv_zip_df2 = zhome_values_zip_df.rename({'RegionName' : 'zip', 'State' : 'state',
                                           'City' : 'city', 'CountyName' : 'county_name'}, axis = 1)

In [ ]:
z_hv_zip_df2

In [7]:
#df = df.melt(id_vars=["location", "name"], 
#         var_name="Date", 
#         value_name="Value"

#replacing the '2002-01-31 colums to 'Date' and assiging their values.

z_hv_zip_df2 = z_hv_zip_df2.melt(id_vars=['zip', 'state', 'city', 'county_name'], 
                                                       var_name= "date", 
                                                       value_name= "home_value")

In [ ]:
z_hv_zip_df2 = z_hv_zip_df2.melt(id_vars=['zip', 'state', 'city', 'county_name'], 
                                                       var_name= "date",
                                                       var_name= "home_rent"
                                                       value_name= "home_value")

In [8]:
z_hv_zip_df2.columns

Index(['zip', 'state', 'city', 'county_name', 'date', 'home_value'], dtype='object')

In [ ]:
z_hv_zip_df2

In [9]:
#    li = ['Albert', 'Louis', 'John']
#    df[df.name.isin(li)]

#creating new df where only the word NY pulls from the State column.

z_hv_zip_ny_df = ['NY']

z_hv_zip_df2 = z_hv_zip_df2[z_hv_zip_df2.state.isin(z_hv_zip_ny_df)]

In [ ]:
z_hv_zip_df2

In [ ]:
z_hv_zip_df2.sample(50)

In [ ]:
z_hv_zip_df2['county_name'].value_counts().sample(60)

In [ ]:
z_hv_zip_df2.astype()

In [ ]:
queens_zip = z_hv_zip_df2[z_hv_zip_df2['county_name'] == 'Queens County']['zip'].unique()

bronx_zip = z_hv_zip_df2[z_hv_zip_df2['county_name'] == 'Bronx County']['zip'].unique()

brooklyn_zip = z_hv_zip_df2[z_hv_zip_df2['county_name'] == 'Kings County']['zip'].unique()

staten_zip = z_hv_zip_df2[z_hv_zip_df2['county_name'] == 'Richmond County']['zip'].unique()

manhattan_zip = z_hv_zip_df2[z_hv_zip_df2['county_name'] == 'New York County']['zip'].unique()

In [ ]:
z_hv_zip_df2[z_hv_zip_df2['county_name'].astype(str) == 'Queens County' 
                       and z_hv_zip_df2['county_name'] == 'Kings County'
                       and z_hv_zip_df2['county_name'].astype(str) == 'New York County' 
                       and z_hv_zip_df2['county_name'].astype(str) == 'Bronx County'
                       and z_hv_zip_df2['county_name'].astype(str) == 'Richmond County']

In [ ]:
z_hv_zip_df2[z_hv_zip_df2['county_name'].astype(str) == 'Queens County' 
                            & z_hv_zip_df2['county_name'].astype(str) == 'Kings County'
                            & z_hv_zip_df2['county_name'].astype(str) == 'New York County'
                            & z_hv_zip_df2['county_name'].astype(str) == 'Bronx County'
                            & z_hv_zip_df2['county_name'].astype(str) == 'Richmond County']

In [ ]:
z_hv_zip_df2['county_name'] = z_hv_zip_df2['county_name'].astype(str)

In [ ]:
z_hv_zip_df2

In [ ]:
z_hv_zip_df2['county_name'] == ['Queens County',
                            and z_hv_zip_df2['county_name'] == 'Kings County'
                            and z_hv_zip_df2['county_name'] == 'New York County'
                            and z_hv_zip_df2['county_name'] == 'Bronx County'
                            and z_hv_zip_df2['county_name'] == 'Richmond County']

In [10]:
df_filtered = z_hv_zip_df2[z_hv_zip_df2['county_name'].isin(['Queens County', 'New York County', 'Bronx County', 'Richmond County', 'Kings County'])]

In [ ]:
df_filtered['date'] = df_filtered['date']pd.to_datetime()

In [ ]:
['Coast'] = np.where(df['States'].isin(Atlantic_states), 'Atlantic Coast',
                       'Unknown')

In [ ]:
df['Coast'] = np.where(df['States'].isin(Atlantic_states), 'Atlantic Coast',
                       'Unknown')

In [ ]:
#queens_zip = 

#brooklyn_zip =

bronx_zip

#statenisland_zip =

#manhattan_zip =

In [ ]:
z_hv_zip_df3 = [200:250]

In [ ]:
zhome_values_zip_df.drop_duplicates(subset = ['RegionName'])

In [ ]:
#df_new = df[df['Pid'] == 'p01']
zhome_values_ny = zhome_values_zip_df[zhome_values_zip_df['RegionName'] == 'New York']

print(zillow_home_values_ny)
#zillow_home_values_data = zillow_home_values_data["RegionName"] = "New York"

In [ ]:
region_newyork = ['New York']

zillow_home_values_data = zillow_home_values_data[zillow_home_values_data.RegionName.isin(region_newyork)]

In [ ]:
zillow_home_values_data

In [ ]:
zillow_home_values_data

In [ ]:
# df.loc[:, df.columns != 'b']
zillow_home_values_data.loc[:, zillow_home_values_data.column]

In [ ]:
zillow_home_values_data = zillow_home_values_data.drop('col', axis=1)

In [ ]:
.sort_values() #when organizing data in the column 
.astype #convert from int to str to float

In [ ]:
zillow_home_values_df.index

In [ ]:
zillow_home_values_df.index = pd.to_datetime(zillow_home_values_df.index)
zillow_home_values_df.index

In [ ]:
zillow_home_values_df.columns