In [26]:
import pandas as pd

### Load data sets for airbnb, rental, and home

In [27]:
airbnb = pd.read_csv("../data/clean/inside_airbnb_clean.gz")
rental = pd.read_csv("../data/clean/nyc_rental_prices.csv")

In [28]:
airbnb.head()

,id,last_scraped,host_id,host_name,neighbourhood,latitude,longitude,room_type,bedrooms,availability_365,calculated_host_listings_count,geom,zipcode,borough,year,availability_pct
0,2539,2022-09-07,2787,John,Kensington,40.64529,-73.97238,Private room,1.0,356,9,"40.64529,-73.97238",11218,BROOKLYN,2022,97.534247
1,5121,2022-09-07,7356,Garon,Bedford-Stuyvesant,40.68535,-73.95512,Private room,1.0,335,2,"40.68535,-73.95512",11238,BROOKLYN,2022,91.780822
2,45910,2022-09-07,204539,Mark,Ridgewood,40.70309,-73.89963,Entire home/apt,5.0,365,6,"40.70309,-73.89963",11385,QUEENS,2022,100.000000
3,5136,2022-09-07,7378,Rebecca,Sunset Park,40.66265,-73.99454,Entire home/apt,2.0,179,1,"40.66265,-73.99454",11215,BROOKLYN,2022,49.041096
4,45935,2022-09-07,204586,L,Mott Haven,40.80635,-73.92201,Private room,1.0,83,1,"40.80635,-73.92201",10454,BRONX,2022,22.739726

In [29]:
rental.head()

      rent    borough  zipcode  year
0  16000.0  MANHATTAN    10013  2022
1   8250.0  MANHATTAN    10012  2022
2   2200.0  MANHATTAN    10031  2022
3  13000.0  MANHATTAN    10011  2022
4  55000.0  MANHATTAN    10065  2022

### Adjust "borough" columns 
1. Airbnb has STATEN ISLAND instead of STATEN_ISLAND
2. Rental has THE BRONX and BRONX to represent the same borough

In [31]:
# Print dataframe columns to see
print("airbnb", airbnb["borough"].unique())
print("rental", rental["borough"].unique())

airbnb ['BROOKLYN' 'QUEENS' 'BRONX' 'MANHATTAN' 'STATEN_ISLAND']
rental ['MANHATTAN' 'BRONX' 'QUEENS' 'STATEN_ISLAND' 'BROOKLYN' 'NEW YORK']
home ['QUEENS' 'BROOKLYN' 'BRONX' 'MANHATTAN' 'STATEN_ISLAND']

In [32]:
# Adjust issue #1
airbnb["borough"] = airbnb["borough"].str.replace(" ", "_")
print("airbnb AFTER",airbnb["borough"].unique())

airbnb AFTER ['BROOKLYN' 'QUEENS' 'BRONX' 'MANHATTAN' 'STATEN_ISLAND']

In [33]:
# Adjust issue #2
rental["borough"] = rental["borough"].str.replace("THE ", "")
print("rental AFTER",airbnb["borough"].unique())

rental AFTER ['BROOKLYN' 'QUEENS' 'BRONX' 'MANHATTAN' 'STATEN_ISLAND']

### Export CSVS

In [34]:
airbnb.to_csv("../data/clean/inside_airbnb_clean.gz", index=False)
rental.to_csv("../data/clean/nyc_rental_prices.csv", index=False)
print("Exported to csv...")

Exported to csv...