In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
# Look at zipcodes/home values for a specific year and conduct a tt-test comparing those groups
nyc_zipcodes_2021 = pd.read_csv("./zipcode_data/nyc_zipcodes_2021.csv")
display(nyc_zipcodes_2021)

    zipcode        borough  year  count
0     10466          BRONX  2021     99
1     10469          BRONX  2021     89
2     10467          BRONX  2021     77
3     10456          BRONX  2021     70
4     10454          BRONX  2021     69
5     11211       BROOKLYN  2021   2101
6     11237       BROOKLYN  2021   1036
7     11233       BROOKLYN  2021   1013
8     11216       BROOKLYN  2021    984
9     11221       BROOKLYN  2021    934
10    10018      MANHATTAN  2021   1147
11    10013      MANHATTAN  2021   1047
12    10024      MANHATTAN  2021    773
13    10009      MANHATTAN  2021    711
14    10003      MANHATTAN  2021    702
15    11377         QUEENS  2021    413
16    11106         QUEENS  2021    335
17    11103         QUEENS  2021    326
18    11102         QUEENS  2021    290
19    11355         QUEENS  2021    284
20    10301  STATEN ISLAND  2021    126
21    10305  STATEN ISLAND  2021     45
22    10306  STATEN ISLAND  2021     34
23    10310  STATEN ISLAND  2021     33
24    10304  STATEN ISLAND  2021     31